## Generic Restart
GENERIC_RESTART="always"
CLIENT_NAME="demo"
COMPOSE_PROJECT_NAME=adempiere-${CLIENT_NAME}

# Global settings
HOST_IP=0.0.0.0
HOST_URL=http://${HOST_IP}

TIMEZONE_PATH_ON_HOST="/etc/timezone"
TIMEZONE_PATH_ON_CONTAINER="/etc/timezone"
TIMEZONE_OPTIONS="ro"

LOCALTIME_PATH_ON_HOST="/etc/localtime"
LOCALTIME_PATH_ON_CONTAINER="/etc/localtime"
LOCALTIME_OPTIONS="ro"

DOCKERFILE_NAME=Dockerfile
HOME_PATH_ON_CONTAINERS=/home/adempiere
ADEMPIERE_GITHUB_VERSION=3.9.4
ADEMPIERE_GITHUB_COMPRESSED_FILE=Adempiere_394LTS.tar.gz
ADEMPIERE_GITHUB_ARTIFACT=https://github.com/adempiere/adempiere/releases/download/${ADEMPIERE_GITHUB_VERSION}/${ADEMPIERE_GITHUB_COMPRESSED_FILE}

# Main Frontend
ADEMPIERE_SITE_IMAGE="openls/adempiere-landing-page:1.0.1"
ADEMPIERE_SITE_CONTAINER_NAME=${COMPOSE_PROJECT_NAME}.site
ADEMPIERE_SITE_HOSTNAME=${CLIENT_NAME}-site
ADEMPIERE_SITE_VUE_URL=${HOST_URL}
ADEMPIERE_SITE_ZK_URL=${HOST_URL}
ADEMPIERE_SITE_EXTERNAL_PORT=8080
ADEMPIERE_SITE_PORT=80

# Database 
POSTGRES_IMAGE="postgres:14.5"
POSTGRES_CONTAINER_NAME=${COMPOSE_PROJECT_NAME}.postgres
POSTGRES_HOSTNAME=${CLIENT_NAME}-pg
POSTGRES_DATABASE_NAME=adempiere
POSTGRES_PASSWORD="postgres"
POSTGRES_PORT="5432"
POSTGRES_EXTERNAL_PORT="55432"
POSTGRES_DEFAULT_DB_PATH_ON_CONTAINER=/var/lib/postgresql/data
POSTGRES_DB_BACKUP_PATH_ON_CONTAINER=${HOME_PATH_ON_CONTAINERS}/backups
POSTGRES_CONTEXT_PATH_ON_HOST=${PWD}/postgresql
POSTGRES_DB_PATH_ON_HOST=${POSTGRES_CONTEXT_PATH_ON_HOST}/postgres_database
POSTGRES_BACKUP_PATH_ON_HOST=${POSTGRES_CONTEXT_PATH_ON_HOST}/backups
POSTGRES_RESTORE_FILE_NAME=seed.backup
POSTGRES_DEFAULT_RESTORE_FILE=${POSTGRES_DB_BACKUP_PATH_ON_CONTAINER}/${POSTGRES_RESTORE_FILE_NAME}

# Adempiere ZK
ADEMPIERE_ZK_IMAGE="openls/adempiere-zk-ui:jetty-1.0.5"
ADEMPIERE_ZK_EXTERNAL_PORT=8888
ADEMPIERE_ZK_PORT=8080
ADEMPIERE_ZK_CONTAINER_NAME=${COMPOSE_PROJECT_NAME}.zk
ADEMPIERE_ZK_HOSTNAME=${CLIENT_NAME}-zk

# ADempiere Vue Backend (gRPC Server)
VUE_BACKEND_ADEMPIERE_GRPC_SERVER_IMAGE="solopcloud/adempiere-backend:1.9.0"
VUE_BACKEND_CONTAINER_NAME=${COMPOSE_PROJECT_NAME}.vue.backend
VUE_BACKEND_HOSTNAME=${CLIENT_NAME}-grpc
VUE_BACKEND_SECRET_KEY="A42CF908019918B1D9D9E04E596658345D162D4C0127A4C8365E8BDF6B015CC7"
VUE_BACKEND_SERVICES_ENABLED="business; business_partner; core; dashboarding; dictionary; enrollment; express_shipment; file_management; general_ledger; in_out; invoice; issue_management; log; material_management; order; payment; payment_print_export; payroll_action_notice; pos; product; security; store; time_control; time_record; ui; user_customization; workflow;"
VUE_BACKEND_LOG_LEVEL="WARNING"   # Available values: OFF, SEVERE, WARNING, INFO, CONFIG, FINE, FINER, FINEST, ALL
VUE_BACKEND_PORT=50059


# Middleware Name
ADEMPIERE_MIDDLEWARE_IMAGE="openls/adempiere-middleware:rs-1.2.5"
ADEMPIERE_MIDDLEWARE_CONTAINER_NAME=${COMPOSE_PROJECT_NAME}.middleware
ADEMPIERE_MIDDLEWARE_HOSTNAME=${CLIENT_NAME}-middleware
ADEMPIERE_MIDDLEWARE_SERVER_PRIVATE_KEY="A42CF908019918B1D9D9E04E596658345D162D4C0127A4C8365E8BDF6B015CC7"
ADEMPIERE_MIDDLEWARE_PORT=50059


# ADempiere Backend RS
ADEMPIERE_BACKEND_RS_IMAGE="openls/adempiere-backend-rs:1.0.4"
ADEMPIERE_BACKEND_RS_CONTAINER_NAME=${COMPOSE_PROJECT_NAME}.backend.rs
ADEMPIERE_BACKEND_RS_HOSTNAME=${CLIENT_NAME}-backend
ADEMPIERE_BACKEND_RS_EXTERNAL_PORT=8889
ADEMPIERE_BACKEND_RS_PORT=7878

# UI
VUE_UI_IMAGE="solopcloud/adempiere-vue:2.6.7"
VUE_UI_URL=${HOST_URL}
VUE_UI_CONTAINER_NAME=${COMPOSE_PROJECT_NAME}.vue
VUE_UI_HOSTNAME=${CLIENT_NAME}-vue-ui
VUE_UI_EXTERNAL_PORT=8891
VUE_UI_PORT=80
VUE_UI_TASK_MANAGER_URL=${HOST_URL}
VUE_UI_TASK_MANAGER_PORT=8879

# API
VUE_API_IMAGE="solopcloud/adempiere-proxy:alpine-2.1.6"
VUE_API_CONTAINER_NAME=${COMPOSE_PROJECT_NAME}.vue.api
VUE_API_HOSTNAME=${CLIENT_NAME}-vue-api
VUE_API_ES_HOST=localhost
VUE_API_ES_PORT="9200"
VUE_API_VS_ENV=dev
VUE_API_INDEX=adempiere
VUE_API_EXTERNAL_PORT=8890
VUE_API_PORT=8085


# Scheduler
ADEMPIERE_SCHEDULER_IMAGE="dkron/dkron"
ADEMPIERE_SCHEDULER_CONTAINER_NAME=${COMPOSE_PROJECT_NAME}.scheduler
ADEMPIERE_SCHEDULER_HOSTNAME=${CLIENT_NAME}-scheduler
ADEMPIERE_SCHEDULER_EXTERNAL_PORT=8879
ADEMPIERE_SCHEDULER_PORT=8080
ADEMPIERE_SCHEDULER_VOLUME=${COMPOSE_PROJECT_NAME}.volume_scheduler

# Network
ADEMPIERE_NETWORK=${COMPOSE_PROJECT_NAME}.network
NETWORK_SUBNET=192.168.100.0/24
NETWORK_GATEWAY=192.168.100.1
NETWORK_IP_RANGE=192.168.10.0/24

# Volumes
POSTGRES_VOLUME=${COMPOSE_PROJECT_NAME}.volume_postgres
BACKUPS_VOLUME=${COMPOSE_PROJECT_NAME}.volume_backups